body {
    background-color: white;
}

/* adds some margin and padding to the container */
.container {
    max-width: 1250px !important;
    margin-top: 3rem;
    padding: 9rem;
    padding-top: 6rem;
    /* border-radius: 5rem; */
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* Remove underline from link */
a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}

/* a[title] {
    color: #337ab7;
} */
ul {
    list-style-type: none;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.1;
}

h1 {
    margin-top: 4rem;
}
h1 a{
    color:#ed507d;
    text-decoration: none;
}

h1 a:hover{
    text-decoration:none;
    color:#ed507d;
}
i {
    color: lightpink;
}

/* loading effects from https://epic-spinners.epicmax.co/ */
.orbit-spinner,
.orbit-spinner * {
    box-sizing: border-box;
}

.orbit-spinner {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    perspective: 800px;
}

.orbit-spinner .orbit {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.orbit-spinner .orbit:nth-child(1) {
    left: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
    border-bottom: 3px solid #ed507d;
}

.orbit-spinner .orbit:nth-child(2) {
    right: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
    border-right: 3px solid #ed507d;
}

.orbit-spinner .orbit:nth-child(3) {
    right: 0%;
    bottom: 0%;
    animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
    border-top: 3px solid #ed507d;
}

@keyframes orbit-spinner-orbit-one-animation {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-two-animation {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-three-animation {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* loading effect ends */
/* put the loading effects and the title h1 in one line  */
.loading-effect-title {
    display: flex;
}
